<div class="outer">
  <h1>Our Products</h1>
  <ng-container *ngFor="let product of products">
  <!-- <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/images/lake.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{product.title}}</h5>
          <p class="card-text">{{product.description}}</p>
        </div>
      </div>
    </div>
  </div> -->
<h6>{{product.title}}<br></h6>
</ng-container>

</div>